*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:#0D1117;
color:white;
display:flex;
height:100vh;
}

.sidebar{
width:240px;
background:#161B22;
padding:20px;
display:flex;
flex-direction:column;
gap:12px;
}

.logo{
font-size:32px;
font-weight:700;
color:#00D4FF;
margin-bottom:30px;
}

.nav-btn{
height:55px;
border:none;
border-radius:12px;
background:#202734;
color:white;
cursor:pointer;
}

.nav-btn.active{
background:#00D4FF;
color:black;
}

.main{
flex:1;
display:flex;
flex-direction:column;
}

.topbar{
height:70px;
background:#161B22;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 25px;
}

.dashboard{
padding:25px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#161B22;
border-radius:20px;
padding:25px;
min-height:180px;
}

.card p{
margin-top:20px;
font-size:28px;
color:#00D4FF;
}
